html, body{ 
  height: 100%; 
} 
.wrapper { 
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  width: 100%;
  height: 100% 
 } 
.editor{
  resize: both;
  overflow: auto;
}
.files {
  background: #999988
}
.editor{
  background:#eded66
}