
html, body{
  height: 100%;
}
div{
  border: 2px solid pink
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%
}
.editor{
  resize: vertical;
  overflow: auto;
}
.files {
  background: #999988
}
.editor{
  background:#eded66
}